:root {
  --main-color: #eeeeee;
  --secodary: #f7f7f7;
  --btn-color: #2a4759;
  --style: #f79b72;
  --text-color: #333;
  --black: #000;
  --white: #fff;
}
.line {
  width: 40px;
  height: 6px;
  background: var(--btn-color);
  margin: 0 auto;
  border-radius: 5px;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  font-weight: bold;
}

/* Nav */
/* nav {
  background: #ffff;
  height: 55px;
} */
nav .navbar-brand {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: var(--btn-color) !important;
}
#hero {
  background: var(--main-color);
  width: 100%;
  height: 55vh;
  position: relative;
  padding-top: 10px;
}
#hero h3 {
  text-transform: uppercase;
  font-weight: bold;
}
#hero p {
  /* width: 700px; */
  margin: 0 auto;
  font-size: 1rem;
}
#hero button {
  background: var(--btn-color);
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transform: scale(0.9);
}
#hero button:hover {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#hero .head-floater {
  width: 40px;
  height: 120px;
  background: #fff;
  position: absolute;
  left: 20;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}
#hero .head-floater i {
  font-size: 18px;
  padding: 8px;
  font-weight: bold;
}
#hero .head-floater a {
  color: var(--text-color);
}
#hero .head-floater i:hover {
  background: var(--main-color);
  transition: all 0.3s ease-in-out;
}

/* about */
#about {
  background: var(--secodary);
  height: auto;
  padding: 60px 10px;
}
#about h3 {
  text-transform: uppercase;
}
#about .left p {
  font-weight: 470;
  text-align: justify;
}
#about .linkedin {
  color: var(--btn-color);
}
#about .left button {
  background: var(--btn-color);
  color: #fff;
  padding: 9px 35px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
#about button:hover {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#about .right button {
  background: var(--main-color);
  margin-bottom: 15px;
  margin-right: 7px;
  color: var(--text-color);
  font-weight: 500;
}

/* Projects */
#projects {
  background: var(--main-color);
  padding: 60px 20;
  height: auto;
}
#projects img {
  width: 350px;
  height: 200px;
}
#projects a button {
  background: var(--btn-color);
  color: var(--white);
  font-weight: 500;
}
/* Contact */
#contact {
  background: var(--secodary);
  padding: 60px 20;
  height: auto;
}
#contact h3{
    text-transform: uppercase;
}
#contact .card {
  width: 75%;
}
#contact form label {
  font-weight: bold;
}
#contact form input,
#contact form textarea {
  background: var(--secodary);
}
#contact form button {
  background: var(--btn-color);
  color: var(--white);
  font-weight: bold;
}
footer {
  background: var(--black);
  color: var(--white);
  padding: 60px 20px;
  position: relative;
}
footer a {
  color: var(--white);
}
footer i {
  margin-left: 15px;
  font-size: 20px;
}
footer .copy {
  font-size: 12px;
}
footer .footer-floater {
  width: 37px;
  height: 37px;
  background: green;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 80px;
  right: 30px;
  position: fixed;
}
footer .footer-floater i {
  font-size: 20px;
  margin-right: 13px;
}

/* Screen 600px */
@media screen and (max-width: 992px) {
  #hero .head-floater {
    display: none;
  }
}
