:root{
    --main-color:#EEEEEE;
    --secodary:#F7F7F7;
    --btn-color:#2A4759;
    --style:#F79B72;
    --text-color:#333;
    --black: #000;
    --white: #fff;
}
.line{
    width: 40px;
    height: 6px;
    background: var(--btn-color);
    margin: 0 auto;
    border-radius: 5px;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
}
 h3{
    font-weight: bold;
}

/* Nav */
nav{
    background: #FFFF;
}
nav .navbar-brand{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li{
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: var(--btn-color) !important;
}
#hero{
    background: var(--main-color);
    width: 100%;
    height: 70vh;
    position: relative;
    padding-top: 50px;
}
#hero h1{
    text-transform: uppercase;
    font-weight: bold;
}
#hero p{
    /* width: 700px; */
    margin: 0 auto;
    font-size: 1.3rem;
}
#hero button{
    background: var(--btn-color);
    color: #fff;
    padding: 16px 100px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(.9);
}
#hero button:hover{
    transform: scale(1);
    transition: all .3s ease-in-out;
}
#hero .head-floater{
    width: 60px;
    height: 190px;
    background:#fff;
    position: absolute;
    left: 20;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    padding:  5px 0;
}
#hero .head-floater i{
    font-size: 1.8rem;
    padding: 8px;
}
#hero .head-floater a{
    color: var(--text-color);
}
#hero .head-floater i:hover{
    background: var(--main-color);
    transition: all .3s ease-in-out;
}

/* about */
#about{
    background: var(--secodary);
    height: auto;
    padding: 100px 0;
}

#about .left p{
    font-weight: 470;
    text-align: justify;
}
#about .linkedin{
    color: var(--btn-color);
}
#about .left button{
    background: var(--btn-color);
    color: #fff;
    padding: 9px 45px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
#about button:hover{
    transform: scale(1);
    transition: all .3s ease-in-out;
}
#about .right button{
    background: var(--main-color);
    margin-bottom: 15px;
    margin-right: 7px;
    color: var(--text-color);
    font-weight: 500;
}

/* Projects */
#projects{
    background:var(--main-color);
    padding: 100px 0;
    height: auto;
}
#projects img{
    width: 600px;
    height: 350px;
}
#projects a button{
    background: var(--btn-color);
    color: var(--white);
    font-weight: 500;
}
/* Contact */
#contact{
    background: var(--secodary);
    padding: 100px 0;
    height: auto;
}
#contact .card{
    width: 75%;
}
#contact form label{
    font-weight: bold;
}
#contact form input,
#contact form textarea
 {
    background: var(--secodary);
}
#contact form button{
    background: var(--btn-color);
    color: var(--white);
    font-weight: bold ;
}
footer{
    background: var(--black);
    color: var(--white);
    padding: 100px 0;
    position: relative;
}
footer a{
    color: var(--white);
}
footer i{
    margin-left: 15px;
    font-size: 1.5rem;
}
footer .copy{
    font-size: 0.7rem;
}
footer .footer-floater{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 80px;
    right: 20px;
    position: fixed;
}
footer .footer-floater i{
font-size: 2rem;
margin-right: 10px;
}



/* Screen 600px */
@media screen and (max-width:992px) {
    #hero .head-floater{
    display: none;
}
   
}




